<h1> 
  <%= Projekty.where(params[:id]).first.nazwa %>
</h1>

<%= form_for :schowaj_do_szafki, url: projekty_schowaj_do_szafki_path do |f| %>
  <%= f.select :szafka_id, @tab %>
  <%= f.submit 'umieść' %>
<% end %>
