<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html> 
  <head> 
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
  </head> 
  <body> 
    <h1>Zmiana hasła dla <%= @user.nick %></h1> 
    <p>Witaj</p>
    
    <br/> Prosiłeś o zmianę hasła, kliknij w link poniżej a będziesz zmuszony do nadania nowego hasła

    <br/>
       <%= link_to @params[:link], @params[:link]%>
    <br/>
    
    <p>Ty mi tu nie pitu pitu... Następnym razem zapamiętaj hasło!</p> 
  </body> 
</html>
